<div class="row">
<a class="pull-right btn btn-mini btn-danger removeMpdServerInfoBtn" href="{{ path('_mpd_remove',{id:mpdServerInfo.id}) }}" >Remove</a>
</div>
<form action="{{ actionUrl }}" method="POST">
<div class="row">
<div class="formMessage">
</div>
<div class="span3">
Alias : <b>{{ mpdServerInfo.alias }}</b>
</div>
<div class="span3">
{{ form_row(form.name) }}
</div>
<div class="span3">
{{ form_row(form.host) }}
</div>
<div class="span3">
{{ form_row(form.port) }}
</div>
<div class="span3">
{{ form_row(form.streamUrl) }}
</div>
<div class="span3">
{{ form_row(form.password) }}
</div>
{{ form_rest(form) }}
<input type="submit" class="offset1 btn btn-success" value="Save"/>
</div>
</form>

