<li class="playlist-listitem mpd-playlist-item draggable" data-alias="{{ item.alias }}" data-droppedhook='mpd-playlist' data-serveralias="{{ item.serverAlias }}" data-id="{{ item.name }}">
<a href="#" class="showPlaylistMPDBtn">{{ item.name }}</a>
<div class="playlist-action">
     <a class="playPlaylistMPDBtn actionBtn" href="#"><img src="{{ asset('bundles/cogimix/images/control_play_mini.png') }}"/></a>
</div>
</li>